*{
    padding: 0;
    margin: 0;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: ;
}
.logo{
    width: 50px;
}
.header{
    height: 10%;
}
.header-btn{
    text-decoration: none;
    border-radius: 30px;
    background: #107fad;
    padding: 7px 10px;
    color: white;
    float: right;
    margin-top: 15px;
}
#banner{
  margin: 50px 0px;
}
#banner .cast-imgs img{
    width:50px
}
.download-btn{
    padding: 7px 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    margin: 0px 8px;
}
.watch-btn{
    padding: 7px 10px;
    background: #107fad;
    border-radius: 30px;
    text-decoration: none;
    color: white;

}
.poster-img{
    height: 340px;
    box-shadow: -4px 4px 5px 0 rgb(43, 43, 43);
}
#tranding-movie img{
    width: 250px;
    text-align: center;
    
}
#tranding-movie img:hover{
    transform:translateY(-12px);
    transition: 1s;
    cursor: pointer;
    
}
#tranding-movie{
    text-align: center;
    padding-bottom: 100px;
}
img{
    max-width: 100%;
}